@charset "utf-8";
/* CSS Document */

body  {font: 100% Verdana, Arial, Helvetica, sans-serif;background:#bbbbbb;margin:0; padding:0;text-align:center;color: #000000;}
#logo {margin-left: 10px; background: url(../images/logo.png); no-repeat scroll left top;}
#container { width: 820px;  border-left:1px solid #999999;border-right:1px solid #999999;margin: 10px auto;text-align: left;}
#header {height: 94px;padding: 0 10px 0 20px;}
#headerLogo {float:left;}
#nav {float:right;}
#nav ul {margin-top:20px;list-style:none;list-style-position:outside;list-style-type:none;}
#nav li {display:inline;padding-right:40px;}
#nav a {color:#000000;}
#title {color:#222222;font-size:20px;font-weight:bold;padding-bottom:20px;padding-left:10px;}
#header h1 {margin: 0;padding: 10px 0;}
#sidebar1 {float: left; width: 300px; padding:15px 10px 80px 20px;}
#mainContent {margin: 0 0 0px 350px; padding: 0 25px 0 0; }
#images {display:inline;}
#mainImage {margin-top:22px;margin-left:20px;float:right;width:400px;}
#thumbImage {float:right;margin-left:20px;}
#sellerInfo{width:780px;text-align:justify;width:500px;margin-left:14px;}
.infoText{margin-left:40px;padding-bottom:30px;}
#footer { border-bottom:1px solid #CCCCCC;margin-top:25px;padding: 0 10px 0 20px; height:40px;}
#footer p {margin: 0;padding: 10px 0; }
#fLink {margin-top:12px;font-size:12px;float:left;color:#121212;}
#fLink a {color:#000000;}
#footNav a {color:#000000;}
#footNav {font-size:13px;float:right;}
#footNav ul {margin-top:10px;list-style:none;list-style-position:outside;list-style-type:none;}
#footNav li {display:inline;padding-right:20px;}
.fltrt { float: right;margin-left: 8px;}
.fltlft { float: left;margin-right: 8px;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}

