#container {
	background: #FCFCFC url(../images/green_02.png) repeat-x scroll left 94px;
} 
#header { 
	background: transparent url(../images/green_01.png) scroll top left; 
}
.aboutInfo{
	height:45px;
	background: transparent url(../../images/green/about_green.png) no-repeat scroll left top;
}
.paymentInfo{
	height:45px;
	background: transparent url(../../images/green/payment_green.png) no-repeat scroll left top;
}
.termsInfo{
	height:45px;
	background: transparent url(../../images/green/terms_green.png) no-repeat scroll left top;
}
.contactInfo{
	height:45px;
	background: transparent url(../../images/green/contact_green.png) no-repeat scroll left top;
}
#footer { 
	background: transparent url(../images/green_01.png) repeat-x scroll top left;
}